p = "Здравствуйте #{@resource.email}!"
p = 'Вы запросили ссылку изменения пароля'
p = link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token)
p = 'Если вы не хотите менять пароль не переходите по этой ссылке'
